@model WebFashion.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Products</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Product/Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh sách Producst</a>
            <span class="breadcrumb-item active">Chi tiết</span>
        </nav>
    </div>
</div>
    
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="~/Content/Images/@Model.ImagePro" alt="">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.NamePro</h4>
                <p class="text-muted m-b-0">Code: #@Model.ProductID</p>
            </div>
        </div>
        <div class="m-b-15">
            <a href="@Url.Action("Edit", new { id = Model.ProductID })" class="btn btn-primary">
                <i class="anticon anticon-edit"></i>
                <span>Sửa</span>
            </a>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Tổng quan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Hình ảnh</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông Tin</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Price:</td>
                                    <td class="text-dark font-weight-semibold">@string.Format("{0:#,##0} VND", Model.Price)</td>
                                </tr>
                                <tr>
                                    <td>Category:</td>
                                    <td>	@Html.DisplayFor(modelItem => Model.Category1.NameCate) </td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>
                                        <span class="badge badge-pill badge-cyan">@Model.Status</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sizes:</td>
                                    <td>S, M, L</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mô tả sản phẩm</h4>
                </div>
                <div class="card-body">
                    <p>@Model.DecriptionPro</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="~/Content/Images/@Model.ImagePro" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
