@model WebFashion.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shopping Cart</h1>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            decimal total = item._quantity * (decimal)item._product.Price.Value;
                            <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img style="width:70px; height: 90px" src="~/Content/Images/@item._product.ImagePro" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <p>@item._product.NamePro</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@string.Format("{0:#,##0} VND", item._product.Price)</h5>
                                        </td>
                                        <td>

                                            @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                                            {
                                                <input style="width:55px" type="hidden" value="@item._product.ProductID" name="idPro" />
                                                <input style="width:55px" type="number" min="1" value="@item._quantity" name="carQuantity" style="text-align:right" />
                                                <input type="submit" value="Cập nhật" />
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            }
                                        </td>
                                        <td>
                                            <h5>@total.ToString("#,##0").Replace(',', '.') VND</h5>
                                        </td>
                                        <td>
                                            <a href="~/ShoppingCart/RemoveCart/@item._product.ProductID" class="btn btn-icon btn-outline-danger">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>
                            </tr>

                        }
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Tổng tiền</h5>
                        </td>
                        <td>
                            <h5>@Model.Total_money().ToString("#,##0").Replace(',', '.') VND</h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="out_button_area">
                        <td></td>
                        <td></td>
                        <td> </td>
                        <td></td>
                        <td>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="/Home/Shop">Continue Shopping</a>
                                <a class="primary-btn ml-2" href="/ShoppingCart/Confirmation">Proceed to checkout</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->




